.App {
  text-align: center;
}

.bg {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: white;
}

header {
  background-color: transparent;
  min-height: 80px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather,
.weather > div {
  display: flex;
  align-items: center;
}

.locationBtn {
  width: 36px;
  height: 36px;
  background-size: cover;
  background-image: url(./icons/ic_location_searching_48px.svg);
}
.locationBtn:hover {
  background-image: url(./icons/ic_my_location_48px.svg);
}
.locationBtn:disabled {
  opacity: 50%;
}

.logoutBtn {
  margin-left: 8px;
  width: 36px;
  height: 36px;
  background-size: cover;
  background-image: url(./icons/ic_exit_to_app_48px.svg);
}
.logoutBtn:hover {
  opacity: 80%;
}

main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  color: white;
  background-color: #168d40;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 260px;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
}
.login:hover {
  background-color: #1db954;
}

.playlists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist {
  width: 80%;
  height: 90%;
  min-width: 640px;
  min-height: 320px;
  border: none;
  align-self: baseline;
}

.pageBtn {
  height: 25%;
  width: 100px;
  outline: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.4s;
}
.pageBtn span {
  color: aliceblue;
  font-size: 3rem;
}
.pageBtn:hover {
  transform: scale(1.4);
}

.PlayerRSWP {
  position: fixed;
  bottom: 0;
}
